
<h3>配送先登録/⼀覧</h3>

<div class="delivery_new">
<%= form_with model: @address, local:true do |f| %>
  <h4>郵便番号（ハイフンなし）</h4>
  <%= f.text_field :postcode  placeholder="0000000" %>
  <h4>住所</h4>
  <%= f.text_field :destination  placeholder="東京都渋⾕区代々⽊神園町0-0" %>
  <h4>宛名</h4>
  <%= f.text_field :delivery_name placeholder="令和道⼦" %>
  <%= f.submit '新規作成' %>
<% end %>
</div>


   