<div class="container">
  <h3>ログイン</h3>
  <p>会員の方はこちらからログイン</p>

  <%= form_with model: @customer, url: customer_session_path, id: 'new_user', class: 'new_user', local: true do |f|%>
    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
      </div>
    </div><br>
    
    <div class="row">
      <label class="col-lg-3">パスワード
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %></label>
      <div class="col-lg-3">
        <%= f.password_field :password, autocomplete: "current_password" %>
      </div>
    </div><br>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name) %>
    <br><br>
    <% end %>
    <% end %>
  <div class="row">
    <div class="col-xs-5">
      <h4>登録がお済でない方</h4>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "こちら", new_registration_path(resource_name) %>
        <strong>から新規登録を行ってください。</strong>
      <% end %>
    </div>
  </div>
</div>