<h3 class="ml-4 mb-5">ログイン</h3>
<p class="ml-5 mb-3">会員の方はこちらからログイン</p>

<%= form_with model: @customer, url: customer_session_path, id: 'new_user', class: 'new_user', local: true do |f|%>
  <div class="row ml-5">
    <label class="col-lg-3 ml-5">メールアドレス</label>
    <div class="col-lg-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'col-sm-12' %>
    </div>
  </div><br>

  <div class="row ml-5">
    <label class="col-lg-3 ml-5">パスワード
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %></label>
    <div class="col-lg-3">
      <%= f.password_field :password, autocomplete: "current_password", class: 'col-sm-12' %>
    </div>
  </div><br>

  <div class="actions ml-5">
    <%= f.submit "ログイン", class: "btn btn-primary col-lg-2 ml-5" %>
  </div>
<% end %>

<div class="row ml-2 mt-5">
  <div class="col-lg-12">
    <h3>登録がお済でない方</h3>
    <div class="mt-4 ml-4">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "こちら", new_registration_path(resource_name) %>
        <p class="d-lg-inline">から新規登録を行ってください。</p>
      <% end %>
    </div>
  </div>
</div>

<div class="row ml-2 mt-5">
  <div class="col-lg-12">
    <h3>管理者の方</h3>
    <div class="mt-4 ml-4">
      <%= link_to "こちら", new_admin_session_path %>
      <p class="d-lg-inline">からログインしてください</p>
    </div>
  </div>
</div>