
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">注⽂情報確認</h5>
   </div>

 <table class="table table-bordered">
 <div class="row">
    <div class="col-md-8 pl-5">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-left">商品名</th>
            <th class="text-left">単価(税込)</th>
            <th class="text-left">数量</th>
            <th class="text-left">小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @sum = 0 %>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <p><%= Order.find(order.product_id).name %></p>
            </td>
            <td>
              <p><%= Order.find(order.product_id).price %></p>
            </td>
            <td>
            </td>
            <td>
              <p><%= @sub_total=Order.find(order.product_id).price * order.product_quantity %></p>
            </td>
          </tr>
          <% @sum += @sub_total %>
        <% end %>
       </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-3">
    <table class="table table-bordered">
      <% @order.each do |order| %>
       <tbody>
          <tr><th>送料</th><td><%= order.created_at %></td></tr>
          <tr><th>商品合計</th><td><%= @sum %></td></tr>
          <tr><th>請求金額</th><td><%= order.total_price %></td></tr>
       </tbody>
      <% end %>
    </table>
  </div>


  <h3>支払い方法</h3>

  <h3>お届け先</h3>

  <div class="text-center">
    <h3 class="mt-5 mb-2">
      <input type="submit" class='btn btn-success' value='注文を確定する'>
      </h3>
  </div>

</div>