
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">注⽂情報確認</h5>
    </div>
  </div>

  <div class="row">
   <div class="col-xs-8">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="text-left">商品名</th>
            <th class="text-left">単価(税込)</th>
            <th class="text-left">数量</th>
            <th class="text-left">小計</th>
          </tr>
        </thead>
        <tbody>
        <% @cart_products.each do |cart| %>
          <tr>
            <td>
              <p><%= cart.product.name %></p>
            </td>
            <td>
              <p><%= cart.product.price %></p>
            </td>
            <td>
              <p><%= cart.product_quantity %></p>
            </td>
            <td>
              <p><%= cart.product.price * cart.product_quantity %></p>
            </td>
          </tr>
       <% end %>
       </tbody>
      </table>
    </div>

     <% @sum = 0 %>
     <div class="col-xs-3 offset-md-1">
        <table class="table table-bordered">
          <thead>
            <tr><th>送料</th><td><%= @order.shipping_fee %></td></tr>
            <tr><th>商品合計</th><td><%= @sub_total %></td></tr>
            <tr><th>請求金額</th><td><%= @sum = @sub_total + @order.shipping_fee %></td></tr>
          </thead>
           <tbody>
           </tbody>
        </table>
      </div>
    </div>

    <div class="row">
     <div class="col-xs-8">
      <table class="table table-borderless">
        <thead>

          <tr>
            <th>支払い方法</th><td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <th>お届け先</th>
            <td>〒<%= @order.postcode %><%= @order.destination %><%= @order.delivery_name %></td>
          </tr>

        </thead>
      </table>
     </div>
    </div>

    <div class="row">
        <h3 class="mx-auto">
          <%= form_with model: @order, url: orders_path, local: true do |f| %>
          <%= f.hidden_field :payment_method, :value => @order.payment_method %>
          <%= f.hidden_field :postcode, :value => @order.postcode %>
          <%= f.hidden_field :destination, :value => @order.destination %>
          <%= f.hidden_field :delivery_name, :value => @order.delivery_name %>
          <%= f.hidden_field :total_price, :value => @sub_total %>
          <%= f.submit '注文を確定する', class:"btn btn-sm btn-success" %>
          <% end %>
        </h3>
    </div>

  </div>

