
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">注⽂履歴⼀覧</h5>
    </div>
  </div>

  <table class="table table-bordered">
          <thead>
              <tr>
                 <th>注文日</th>
                 <th>配送先</th>
                 <th>注文商品</th>
                 <th>支払金額</th>
                 <th>ステータス</th>
                 <th>注文詳細</th>
              </tr>
          </thead>
      <% @orders.each do |order| %>
          <tbody>
              <tr>
                <td><%= order.created_at %></td>
                <td><%= order.destination %></td>
                <td><%= order.products %></td>
                <td><%= order.total_price %></td>
                <td><%= order.status %></td>
                <td><%= link_to '表示する', order_path(address.id), class: 'btn btn-sm btn-danger destroy_book_22227' %></td>
              </tr>
          </tbody>
      <% end %>
  </table>
</div>