
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">注⽂情報入力</h5>

  <h6>支払い方法</h6>
    <%= form_with model: @address, local:true do |f| %>
      <div class="radio-inline">
        <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
        <%= f.label :クレジットカード, class: "payment_method_label" %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :payment_method, :銀行振込 %>
        <%= f.label :銀行振込, class: "payment_method_label" %>
      </div>

  <h6>お届け先</h6>
   <% @orders.each do |order| %>
     <div class="radio-inline">
        <%= f.radio_button :destination, :ご自身の住所, checked: "checked" %>
        <%= order.address %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :destination, :登録住所からの選択 %>
        <%= f.collection_select :address, @address, :id, :destination, { prompt: "選択してください" } %>
      </div>
   <% end %>
      <div class="radio-inline">
        <%= f.radio_button :destination, :新しいお届け先 %>
      </div>
   <table class="table table-borderless">
      <tbody>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td> <%= f.text_field :postcode, placeholder: "0000000" %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td> <%= f.text_field :destination, placeholder: "東京都渋⾕区代々⽊神園町0-0", :size =>"60" %></td>
        </tr>
        <tr>
          <th>宛名</th>
          <td><%= f.text_field :delivery_name, placeholder: "令和道⼦" %></td>
          <td><%= f.submit '確認画面に進む', class:"btn btn-sm btn-success" %></td>
        </tr>
     </tbody>
   </table>
  <% end %>
  </div>
 </div>
</div>