
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5">注⽂情報入力</h5>

  <h6>支払い方法</h6>
    <%= form_with(model: @order, local: true) do |f| %>
      <div class="radio-inline">
        <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
        <%= f.label :クレジットカード, class: "payment_method_label" %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :payment_method, :銀行振込 %>
        <%= f.label :銀行振込, class: "payment_method_label" %>
      </div>

  <h6>お届け先</h6>
   <% @orders.each do |order| %>
     <div class="radio-inline">
        <%= f.radio_button :destination, :ご自身の住所, checked: "checked" %>
        <%= order.address %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :destination, :登録住所からの選択 %>
        <%= f.collection_select :address, @address, :id, :destination, { prompt: "選択してください" } %>
      </div>
   <% end %>
      <div class="radio-inline">
        <%= f.radio_button :destination, :新しいお届け先 %>
      </div>
   <% end %>
  </div>
 </div>
</div>