
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h5 class="d-inline-flex bg-light px-3 py-1 font-weight-bold mt-5 mb-4">注⽂情報入力</h5>

  <h6><strong>支払い方法</strong></h6>
    <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
      <div class="row ml-3">
        <div class="col-lg-3 ml-2">
          <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
          <%= f.label :クレジットカード, class: "payment_method_label" %><br>
          <%= f.radio_button :payment_method, :銀行振込 %>
          <%= f.label :銀行振込, class: "payment_method_label", style: "display: inline-block;" %>
        </div>
      </div><br>

  <h6><strong>お届け先</strong></h6>
        <div class="row ml-3">
         <div class="col-12 ml-2">
          <%= f.radio_button :address_option, 1, checked: "checked" %>
          <%= f.label :"ご自身の住所", class: "address_label" %><br>
          <div class="col-lg-3 ml-2">
          〒<%= current_customer.postcode %><%= current_customer.address %><br>
          <%= current_customer.last_name %><%= current_customer.first_name %>
          </div><br>

          <%= f.radio_button :address_option, 2 %>
          <%= f.label :"登録住所からの選択", class: "destination_label" %><br>
          <div class="col-lg-3 ml-2">
          <%= f.collection_select :address_id, Address.all, :id, :order_detail, size: "30" %>
          </div><br>

          <%= f.radio_button :address_option, 3 %>
          <%= f.label :"新しいお届け先", class: "destination_label" %>

          <div class="col-12 ml-2">
            <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th>郵便番号(ハイフンなし)</th>
                    <td> <%= f.text_field :postcode, placeholder: "0000000" %></td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td> <%= f.text_field :destination, placeholder: "東京都渋⾕区代々⽊神園町0-0", :size =>"60" %></td>
                  </tr>
                  <tr>
                    <th>宛名</th>
                    <td><%= f.text_field :delivery_name, placeholder: "令和道⼦" %></td>
                  </tr>
                </tbody>
             </table>
            </div>
             <div class="text-center">
              <h3 class="col-12">
               <%= f.submit '確認画面に進む', class:"glyphicon glyphicon-home btn btn-primary" %>
              </h3>
             </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>