<header>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container">
      <h1 class="navbar-brand logo">
        <%= link_to image_tag("naganocake_headerlogo.png"), root_path %>
      </h1>
      <ul class="navbar-nav">
        <% if customer_signed_in? %>

          <!--カスタマーがログインしている時 -->
          <li class="nav-item">
            ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！
          </li>
          <li class="nav-item"><%= link_to "マイページ", customers_my_page_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "商品一覧", products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "カート", cart_products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>

        <% elsif admin_signed_in? %>

          <!-- 管理者がログインしている時 -->
          <li class="nav-item"><%= link_to "商品一覧", admins_products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "会員一覧", admins_customers_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "注文履歴一覧", admins_order_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "ジャンル一覧", admins_genres_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>

        <% else %>

          <!-- ログインしていない時 -->
          <li class="nav-item"><%= link_to "About", about_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "商品一覧", products_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %></li>
          <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>